body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

h1 {
    background-color: #c084fc;
    color: white;
    padding: 1rem;
    margin: 0;
}

.book-list {
    list-style: none;
    padding: 0;
}

.book-preview {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}